[package]
name = "quilt-installer"
version = "0.1.0"
authors = [
    "QuiltMC"
]

edition = "2018"

[dependencies]

# Opening URLs
open = { version = "1.6.0" }

# We use this to generate a random name for the temporary file we make as needed.
rand = { version = "0.8.3" }

# Error dialogs
native-dialog = { version = "0.5.5" }

[target.'cfg(windows)'.dependencies]
# Lookup in registry for installation location for additional JREs
winreg = { version = "0.8.0" }

[build-dependencies]
embed-resource = "1.6.0"
winres = "0.1.11"

[profile.release]
lto = true
opt-level = 'z'
